/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Element Selectors */
html {
    width: 100%
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #1d1d1d;
    min-width: 900px;
    background: url(../images/bg.jpg) repeat-x #f5f5f5;
}

a {
    color: #1d1d1d;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #cc0000;
    text-decoration: none;
}


/* Class, Attribute, and Pseudo Selectors */
.slogan {
    position: absolute;
    text-align: left;
    left: 20px;
    top: -100px;
}

.search_input {
    display: inline-block;
    padding: 2px 8px 0 10px;
    height: 40px;
    width: 500px;
    border: 2px solid #333333;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 8px;
    outline: none;
}

.search_input:focus, .search_input:hover{
    border: 2px solid #cc0000;
    background-color: #efefef;
}

/* id selectors */
#container {
    width: 100%;
}

#pagebody {
    width: 100%;
    margin: 0 auto;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 1%;
    text-align: center;
}

#search {
    border: 0 solid black;
    min-width: 600px;
    height: 300px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
}

#search-form {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50px;
    text-align: center;
}


#button1 a {
    position: absolute;
    top: -5px;
    left: 570px;
    display: inline-block;
    margin: 6px;
    padding: 10px;
    width: 40px;
    background: url("../images/search_small_.png") top left no-repeat;
}

#button1 a:hover {
    background-position: 0 -40px;
}

#button1 a:active {
    background: url("../images/search_small_.png") 0 -80px no-repeat;
}